@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4" style="background-color:#033272">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank"><b>Home</b></a> *@
            <a href="" class="font-colorh1"><b>Home</b></a>
            <a href="weather" class="font-colorh1"><b>About</b></a>
            <a href="counter" class="font-colorh1"><b>Projects</b></a>
            <a href="" class="font-colorh1"><b>Tech Stack</b></a>
            <a href="" class="font-colorh1"><b>Resume</b></a>
            <a href="" class="font-colorh1"><b>Blogs</b></a>
        </div>

        <article class="content px-4" >
            @Body
            
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
