@page "/about"
@attribute [StreamRendering]
<link href="c:\users\saida\source\repos\myportfolio\myportfolio\wwwroot\app.css" rel="stylesheet" />



<PageTitle>About</PageTitle>

<div class="about-css2">
    <table>
        <tr>
            <td>
                <img src="images\john.jpg" alt="John" width="500" height="333" class="img"/>
            </td>
        </tr>
    </table>
</div>


