@page "/"
<link href="~/app.css" rel="stylesheet" />
<PageTitle>Home</PageTitle>
@* 
<div class="page-background-class">
    <h1>JESUS</h1>
</div> *@

    <label class="font-myname">

        Hi, My name is John Saida
        <br />
        <h1>
            I'M a .NET Full Stack Developer..
        </h1>
    </label>

    <div class="subTest-class">
        <label class="font-SubText">
            LET ME INTRODUCE MYSELF
        </label>
        <br />
        <label class="font-SubText">
            I love to do the programming and MS SQL Query writing.
            </label>
        <br />
    <label class="font-SubText">
         I am very happy to learn new things and implements those in my real time scenarios.
    </label>
    </div>

